h1 {
  font-size: 32px;
  border-bottom: 2px solid;
  padding-bottom: 6px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
  border-bottom: 4px double;
  padding-bottom: 4px;
  margin-bottom: 0;
}
h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  border-left: 4px solid;
  padding-left: 1em;
}
p {
  font-size: 14px;
  line-height: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
[class*=admonition] {
  overflow: visible;
}
.admonition-title {
  font-size: 15px;
}
*:focus {
  outline: none !important;
}

/* 设置超链接的样式 */
p a,
body.theme-dark p a {
  position: relative; /* 为伪元素定位做准备 */
  z-index: 1; /* 设置层级 */
  background-color: transparent; /* 初始背景颜色透明 */
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1), /* 文字颜色过渡效果 */
              background-color 200ms cubic-bezier(0.4, 0, 0.2, 1); /* 背景颜色过渡效果 */
}
/* 使用伪元素实现背景颜色从下到上填充的过渡效果 */
p a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  background-color: #3BECCD; /* 设置背景颜色 */
  transition: top 400ms cubic-bezier(0.4, 0, 0.2, 1); /* 背景位置过渡效果 */
}
/* 设置超链接在悬停、激活和聚焦时的样式 */
p a:hover::before {
  top: 0; /* 背景位置从下到上过渡 */
}
p a:hover,
.show a:hover,
body.theme-dark p a:hover,
body.theme-dark .show a:hover {
  color: #2e1f5e; /* 悬停时的文字颜色 */
  text-decoration: none; /* 去掉下划线 */
}

.UP {
  position: relative;
  font-weight: bold;
}
.UP .note {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 0;
  white-space: nowrap;
}

.显隐 {
  display: none;
  height: 6em;
}

.CMT {
  position: relative; /* 相对定位 */
  display: inline; /* 布局 */
  cursor: help; /* 设置鼠标样式 */
}
.show {
  position: absolute; /* 绝对定位 */
  opacity: 0; /* 初始透明度为0 */
  pointer-events: none; /* 禁用鼠标事件 */
  top: 100%;
  left: -0.5em;
  background-color: rgba(0,0,0,0.8);
  padding: 1em;
  color: rgb(255,255,255);
  font-size: 13px;
  border: 1.5px solid #13C7A8;
  border-radius: 4px;
  z-index: 255;
  width: 33em;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0s 400ms; /* 透明度过渡效果 */
}
.show a,
body.theme-dark .show a {
  color: #FFFFFF;
}
.CMT:hover .show {
  display: block; /* 显示元素 */
  opacity: 1; /* 透明度为1 */
  pointer-events: auto; /* 启用鼠标事件 */
}